body{
    background-color: white;
}
.semba{
    width: 1211px;
    height: 300px;
}
@media (max-width: 800px) {
    .semba{
        width: 500px;
        height: 100px;
    }
    .semba_texto{
        width: 500px;
    }
}
.albuns_texto{
    display: flex;
    justify-content: center;
}
.capa{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.descricao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rectangulo{
    color: white;
    width: 150px;
    height: 25px;
    background-color: brown;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.menu_logo{
margin: 10px;
}
.nav_lista{
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
}
.nav_link{
    padding: 20px 10px;
}
.albuns_texto{
    display: flex;
    justify-content: center;
}
.Sobre{
    background-color: gold;
    width: 70px;
    height: 28px;
    border: none;
    border-radius: 15px;
    stop-color: white;
}
.albuM{
    width: 250px;
    height: 250px;
}
